*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: white;
    background:rgb(10, 118, 242);
    padding:20px 40px;
}
.menu
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-right: 50px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 26px;
}
.icon{
    display: none;
}
a:hover{
    color: rgb(238, 137, 5);
}
.logo{
    font-size: 26px;
    font-family: serif;
    color: tomato;

}
.logo span{
    font-style: bold;
    color: rgb(252, 252, 252);
}
.mblmenu{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    text-decoration: none;
    display: none;
}
.bdy{
background-color: aqua;
padding-top: 12px;
height:100vh;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}
.bdy h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bdy p{
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 2px;
}
button{
    padding: 10px 20px;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(2, 68, 46);
    color: aliceblue;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: brown;
}
.home-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px 20px;
}
.home{
    width: 600px;
    box-shadow: 2px 2px 2px 3px rgb(210, 209, 209);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
.home img{
    height: 180px;
    width: 300px;
}
.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(52, 50, 50);
    color: aliceblue;
    font-size: 16px;
}
@media (max-width: 700px) {
    .menu{
        display: none;
    }
    .navbar{
        padding: 5px;
    }
    .logo{
        font-size: 16px;
    }
    .bdy h2{
        font-size: 20px;
        font-style: normal;

    }
    .bdy p{
        font-size: 16px;
        font-style: normal;
    }
    .bdy button{
        font-size: 16px;
        width: 150px;
        height: auto;
        
    }
    .icon{
        display: block;
    }
    #mn{
        text-decoration: none;
    }

}