*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: white;
    background:rgb(10, 118, 242);
    padding:20px 40px;
}
.menu
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-right: 50px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 38px;
}
.logo{
    font-size: 40px;
    font-family: serif;
    color: tomato;

}
.logo span{
    font-style: bold;
    color: black;
}
.bdy{
background-color: aqua;
padding-top: 12px;
height:65rem;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}
.bdy h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bdy p{
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 2px;
}
button{
    padding: 10px 20px;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(2, 68, 46);
    color: aliceblue;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: brown;
}
.home-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: beige;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.home{
    width: 600px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(52, 50, 50);
    color: aliceblue;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}